<h1>Johannes rocks ruby HARD!</h1>
<p>Bryanne goes to havannah on thursday rather than helping orphans with me!! :) .</p>
<br>
<%=link_to "Krasse Ideen", ideas_path%> <br>
<br>
<a href ="/ideas" target="_blank">go to a new page<a/>
<br>
<%=link_to "neue Seite", pages_penis_path%>