<!DOCTYPE html>
<html>
<head>
	<title>Johannes on Ruby Rocks!!</title>
</head>
<body>
	bryanne marry me!!! 50$!!!\
	
	
	<div style= "color: purple; width:500px; height:300px; background-color: pistaccio">
		Paul marry me!!! 50$!!!

	</div>
	<div>
		tina marry me!!! 50$!!!\

	</div>
</body>
</html>