<!DOCTYPE html>
<html>

<head>
	<title>Johannes on Ruby Rocks!!</title>

	<style type="text/css" media="screen">
/*
	color: blue; 
	width:35%; height:100px; 
	background-color: yellow
	*/

	table#lucky
	{
		border: 5px 
		solid blue; 
		width=500px; 
		height: 300px
	}


	</style>
</head>
<body>

<div> 
	
	<div style= "color: purple; width:35%; height:100px; background-color: green; display:inline">
		Paul marry me!!! 50$!!!

	</div>	
	<div style= "color: blue; width:35%; height:100px; background-color: red; display:inline">
		tina marry me!!! 50$!!! 
	</div>


		<br/>

		<img class="scaledImageFitWidth img" src="https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-frc3/p480x480/1457721_10201889564033767_748559615_n.jpg" style="top:-84px; width:200px; 	height:250px" alt="Photo: Ach Jay... Du fehlst! &lt;3">
		<br/>

		<img class="coverPhotoImg photo img" src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-ash2/c0.113.851.315/p851x315/857211_10151836717913018_230878651_o.jpg" alt="Cover Photo" style="top:0px;width:79%" data-fbid="10151836717913018">

		<img src="hallo.jpg" alt="good practice">
	<br/>

	<table id="lucky">

		<caption>COOL WORDS TABLE!!</caption>
		<thead>
			<tr>
				<th>SWHAELI</th>
				<th>german</th>
				<th>english</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>ina choma </td> 
				<td>stiker </td>
				<td>bryanne </td>
			</tr>
			<tr>
				<td>data 1</td>
				<td>data 2</td>
				<td>data 3</td>
			</tr>
		</tbody>
	</table>
	</div>
</div>
</body>
</html>